// Completed Todos Functionality
.completed-concerns-container {
	color: #999;
	font-family: sans-serif;
	text-align: center;
}

.completed-concerns-link {
	text-decoration: underline;
	cursor: pointer;
}

.completed-concerns-list {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
