.concerns-list {
	border: 1px solid red;
	display: flex;
	justify-content: center;
}

.concerns-list ul {
	border: 1px solid red;
	list-style-type: none;
	width: 90%;
}

.actions {
	display: inline-block;
	border: 1px solid red;
}

.complete,
.edit {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.emptyConcernError {
	color: red;
	margin: 0;
	font-size: 0.75em;
}
