/*Add Concern Functionality*/
/*Add Concern Functionality*/
/*Add Concern Functionality*/
/*Add Concern Functionality*/

.add-concern-container {
	margin-bottom: 1em;
}

.add-concern-concern,
.add-concern-owner,
.add-concern-button {
	font-size: 16px;
	border: none;
	padding: 1em 0;
}

.add-concern-concern {
	width: 65%;
	padding-left: 10%;
	background-color: #eee;
}

.add-concern-owner {
	width: 13%;
	padding-left: 2%;
	background-color: #eee;
}

.add-concern-button {
	width: 10%;
	background-color: #ddd;
}

// Concern List Functionality
// Concern List Functionality
// Concern List Functionality
// Concern List Functionality

.concerns-list {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;

	ul {
		list-style-type: none;
		width: 90%;
	}

	li {
		width: 100%;
		border-bottom: 1px solid #aaa;
	}
}

.empty-concern-error {
	color: red;
	margin: 0;
	font-size: 0.75em;
}

/*Adding and removing concerns transitions*/
/*Adding and removing concerns transitions*/
/*Adding and removing concerns transitions*/
/*Adding and removing concerns transitions*/

.concern-transition-enter {
	opacity: 0.01;
	max-height: 0;

	&.concern-transition-enter-active {
		opacity: 1;
		max-height: 39px;
		transition: all 0.25s;
	}
}

.concern-transition-leave {
	opacity: 1;
	max-height: 39px;

	&.concern-transition-leave-active {
		opacity: 0.01;
		max-height: 0;
		transition: max-height 0.25s, padding 0.25s, opacity 0.15s;
	}
}
