// Concern List Item functionality
// Concern List Item functionality
// Concern List Item functionality
// Concern List Item functionality

.concern-container {
	height: 18px;
	padding: 10px 0;
	font-family: sans-serif;
}

.concern-item {
	display: inline-block;
}

.edit-concern-container {
	height: 18px;
	padding: 10px 0;
	background-color: #eee;
	transform: translateY(-1px);

	form {
		height: 18px;
	}

	input,
	button {
		padding: 0;
		border: none;
		font-size: 16px;
		font-family: sans-serif;
		height: 18px;
		background-color: #eee;
	}
}

.concern-name,
.concern-owner,
.concern-created-at,
.concern-name-edit,
.concern-owner-edit {
	color: #666;
}

.concern-name,
.concern-name-edit {
	width: 65%;
}

.concern-owner,
.concern-owner-edit {
	width: 15%;
}

.concern-created-at {
	display: inline-block;
	width: 10%;
	text-align: center;
}

.concern-complete {
	width: 5%;

	.concern-complete-circle {
		cursor: pointer;
		padding: 0px 20%;
		transition: color 200ms;

		&:hover {
			color: #00ff99;
		}
	}
}

.concern-complete,
.concern-edit {
	text-align: center;
	color: #aaa;
}

.concern-edit,
.concern-update-edit {
	width: 5%;
}
